h1 Reiniciar contraseña
p Para reiniciar su contraseña de click en la siguiente liga:
= link_to "Reiniciar contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>
p La liga expirara en dos horas.
