- provide(:title, "About")
h1 About
p Proyecto final: La propuesta de Hokusai en respuesta a los problemas derivados de sistemas de barcos es tener un
  sistema de barcos integrado que permita manejar la gestión de los clientes. Quien se encuentra a bordo, quienes no se
  presentaron al barco y si hay camarotes disponibles, personas que no tengan reservación puedan incorporarse al navío.
  Hokusai se encuentra programado en Ruby utilizando recursos también de JavaScript. La base de datos que se utilizará
  para el desarrollo de la aplicación será una base de datos relacional, o también se le conoce como SQL.
  Dentro de Ruby, la base de datos que se suele utilizar es SQLite. De igual manera se busca que este sistema permita
  la posibilidad de gestionar los servicios que se le proporcionen al usuario. Dígase que las personas, con su usuario,
  poder reservar ya sea paseos cuando se encuentre el barco en puerto o poder realizar la reservación de los
  restaurantes a donde les gustaría degustar sus alimentos con sus familiares y amigos. Al igual que dar una opción que
  permita la reservación de eventos dentro de la embarcación. Dentro del sistema también se incorpora la gestión de la
  tripulación. Esto facilita al primer oficial, al maestre y al contramaestre entender el cómo está funcionando el barco
  en todo momento y quien es el responsable de cada área. De igual manera se implementa la adición de una bitácora. Esto
  es porque todos los barcos están obligados a tener un log que indique absolutamente todo lo que sucede en la
  embarcación. Y esto facilita el llevar una bitácora de un barco tan grande. Por último, este sistema también ofrece a
  la embarcación la posibilidad de llevar el control del barco en sí. Cuestiones como la ruta, las provisiones,
  el combustible, los puertos más cercanos, la asistencia naval más cercana y el control del radar.
  Con esta adición, el sistema ofrece a la tripulación del barco un nivel de control sobre la nave que facilita su
  control. Este sistema propone evitar más accidentes como los antes mencionados, así como proveer un facilitador para
  el control de estas embarcaciones de tal magnitud. Proveyendo así tanto para el usuario como para la tripulación un
  sistema integrado que permita que la experiencia dentro de la nave sea realmente placentera siempre poniendo la
  seguridad de las personas que se encuentran a bordo por delante, así como la integridad de la embarcación para que el
  turismo sea seguro.
